*{
  padding: 0px;
  margin: 0px;
  border: 0px;

  box-sizing: border-box;
}

html{
  background-color: black;
}

body{
  display: flex;
  flex-direction: column;
}

#wraper {
  overflow: hidden;
  display: flex;
  align-items: center; 
  justify-content: center;
}

video{
}

button{
  width: 100%;
  
  position: fixed;
  bottom: 0;
  padding: 25px;
}

canvas{
  position: fixed;
  z-index: 999999;
}