*{
  padding: 0px;
  margin: 0px;
  border: 0px;

  box-sizing: border-box;
}

html{
  background-color: black;
}

body{
  display: flex;
  flex-direction: column;
}

video{
  width: 100%;
  min-height: auto;
  position: fixed;
  z-index: 99999;
}

button{

}